<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  <nav>{% include nav.html %}</nav>

  <!-- 搜索 -->
  <!-- <div id="search"></div>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />

  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>

  <script type="text/javascript">

    algoliasearchNetlify({

      appId: 'R305S0ODBA',

      apiKey: '9f4317987b816bdeb2e62aaf838eea0b',

      siteId: '621f7906-a6c2-4d27-9ae0-cf8f4d0c814a',

      branch: 'master',

      selector: 'div#search',

    });

  </script> -->
  <!-- 搜索 -->


  <div class="wrapper">
    <main>{{ content }}</main>
    <footer>{% include footer.html %}</footer>
  </div>

  {% include link-previews.html wrapperQuerySelector="content" %}
</body>

</html>